default_install_hook_types:
  - pre-commit
  - commit-msg
default_stages:
  - pre-commit # Run locally
  - manual # Run in CI
exclude: 'vllm/third_party/.*'
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.0
  hooks:
  - id: ruff-check
    args: [--output-format, github, --fix]
  - id: ruff-format
- repo: https://github.com/crate-ci/typos
  rev: v1.38.1
  hooks:
  - id: typos
    args: [--force-exclude]
# - repo: https://github.com/pre-commit/mirrors-clang-format
#   rev: v21.1.2
#   hooks:
#   - id: clang-format
#     exclude: 'csrc/(moe/topk_softmax_kernels.cu|quantization/gguf/(ggml-common.h|dequantize.cuh|vecdotq.cuh|mmq.cuh|mmvq.cuh))|vllm/third_party/.*'
#     types_or: [c++]
#     args: [--style=file, --verbose]
- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.45.0
  hooks:
  - id: markdownlint
    args: [--fix]
    exclude: '.*\.inc\.md$|.*report_template\.md$|.*contributors\.md$|.*PULL_REQUEST_TEMPLATE\.md$'
    stages: [manual] # Only run in CI
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint
- repo: local
  hooks:
  # For local development, you can run mypy using tools/mypy.sh script if needed.
  # - id: mypy-local
  #   name: Run mypy for local Python installation
  #   entry: tools/mypy.sh 0 "local"
  #   language: system
  #   types: [python]
  #   stages: [pre-commit] # Don't run in CI
  # FIXME: Re-enable shellcheck
  # - id: shellcheck
  #   name: Lint shell scripts
  #   entry: tools/pre_commit/shellcheck.sh
  #   language: script
  #   types: [shell]
  # - id: mypy-3.10 # TODO: Use https://github.com/pre-commit/mirrors-mypy when mypy setup is less awkward
  #   name: Run mypy for Python 3.10
  #   entry: tools/mypy.sh 1 "3.10"
  #   # Use system python because vllm installation is required
  #   language: system
  #   types: [python]
  #   stages: [manual] # Only run in CI
  # - id: mypy-3.11 # TODO: Use https://github.com/pre-commit/mirrors-mypy when mypy setup is less awkward
  #   name: Run mypy for Python 3.11
  #   entry: tools/mypy.sh 1 "3.11"
  #   # Use system python because vllm installation is required
  #   language: system
  #   types: [python]
  #   stages: [manual] # Only run in CI
  # - id: mypy-3.12 # TODO: Use https://github.com/pre-commit/mirrors-mypy when mypy setup is less awkward
  #   name: Run mypy for Python 3.12
  #   entry: tools/mypy.sh 1 "3.12"
  #   # Use system python because vllm installation is required
  #   language: system
  #   types: [python]
  #   stages: [manual] # Only run in CI
  - id: png-lint
    name: Lint PNG exports from excalidraw
    entry: tools/png-lint.sh
    language: script
    types: [png]
  - id: signoff-commit
    name: Sign-off Commit
    entry: bash
    args:
      - -c
      - |
        if ! grep -q "^Signed-off-by: $(git config user.name) <$(git config user.email)>" "$(git rev-parse --git-path COMMIT_EDITMSG)"; then
          printf "\nSigned-off-by: $(git config user.name) <$(git config user.email)>\n" >> "$(git rev-parse --git-path COMMIT_EDITMSG)"
        fi
    language: system
    verbose: true
    stages: [commit-msg]
  - id: check-filenames
    name: Check for spaces in all filenames
    entry: bash
    args:
      - -c
      - 'git ls-files | grep " " && echo "Filenames should not contain spaces!" && exit 1 || exit 0'
    language: system
    always_run: true
    pass_filenames: false
  - id: python-init
    name: Enforce __init__.py in Python packages
    entry: python tools/check_python_src_init.py
    language: python
    types: [python]
    pass_filenames: false
  # Keep `suggestion` last
  - id: suggestion
    name: Suggestion
    entry: bash -c 'echo "To bypass all the pre-commit hooks, add --no-verify to git commit. To skip a specific hook, prefix the commit command with SKIP=<hook-id>."'
    language: system
    verbose: true
    pass_filenames: false
  # Insert new entries above the `suggestion` entry
