name: 'e2e test'

on:
  workflow_call:
    inputs:
      vllm:
        required: true
        type: string
      runner:
        required: true
        type: string
      image:
        required: true
        type: string
      type:
        required: true
        type: string

jobs:
  e2e:
    name: singlecard
    runs-on: ${{ inputs.runner }}-1
    container:
      image: ${{ inputs.image }}
      env:
        VLLM_LOGGING_LEVEL: ERROR
        VLLM_USE_MODELSCOPE: True
        TRANSFORMERS_OFFLINE: 1
    steps:
      - name: Check npu and CANN info
        run: |
          npu-smi info
          cat /usr/local/Ascend/ascend-toolkit/latest/"$(uname -i)"-linux/ascend_toolkit_install.info

      - name: Config mirrors
        run: |
          sed -Ei 's@(ports|archive).ubuntu.com@cache-service.nginx-pypi-cache.svc.cluster.local:8081@g' /etc/apt/sources.list
          pip config set global.index-url http://cache-service.nginx-pypi-cache.svc.cluster.local/pypi/simple
          pip config set global.trusted-host cache-service.nginx-pypi-cache.svc.cluster.local
          apt-get update -y
          apt install git -y

      - name: Checkout vllm-project/vllm-ascend repo
        uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          apt-get -y install `cat packages.txt`
          apt-get -y install gcc g++ cmake libnuma-dev

      - name: Checkout vllm-project/vllm repo
        uses: actions/checkout@v6
        with:
          repository: vllm-project/vllm
          ref: ${{ inputs.vllm }}
          path: ./vllm-empty
          fetch-depth: 1

      - name: Install vllm-project/vllm from source
        working-directory: ./vllm-empty
        run: |
          VLLM_TARGET_DEVICE=empty pip install -e .

      - name: Install vllm-project/vllm-ascend
        env:
          PIP_EXTRA_INDEX_URL: https://mirrors.huaweicloud.com/ascend/repos/pypi
        run: |
          pip install -r requirements-dev.txt
          pip install -v -e .

      - name: Run vllm-project/vllm-ascend test
        env:
          VLLM_WORKER_MULTIPROC_METHOD: spawn
          VLLM_USE_MODELSCOPE: True
          PYTORCH_NPU_ALLOC_CONF: max_split_size_mb:256
        if: ${{ inputs.type == 'light' }}
        run: |
          # pytest -sv --durations=0 tests/e2e/singlecard/test_aclgraph_accuracy.py
          # pytest -sv --durations=0 tests/e2e/singlecard/test_quantization.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_vlm.py::test_multimodal_vl
          #pytest -sv --durations=0 tests/e2e/singlecard/pooling/test_classification.py::test_classify_correctness

      - name: Run e2e test
        env:
          VLLM_WORKER_MULTIPROC_METHOD: spawn
          VLLM_USE_MODELSCOPE: True
          PYTORCH_NPU_ALLOC_CONF: max_split_size_mb:256
        if: ${{ inputs.type == 'full' }}
        run: |
          # We found that if running aclgraph tests in batch, it will cause AclmdlRICaptureBegin error. So we run
          # the test separately.

          #pytest -sv --durations=0 tests/e2e/singlecard/test_completion_with_prompt_embeds.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_aclgraph_accuracy.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_aclgraph_mem.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_async_scheduling.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_camem.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_guided_decoding.py
          # torch 2.8 doesn't work with lora, fix me
          #pytest -sv --durations=0 tests/e2e/singlecard/test_ilama_lora.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_profile_execute_duration.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_quantization.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_sampler.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_vlm.py
          #pytest -sv --durations=0 tests/e2e/singlecard/test_xlite.py
          #pytest -sv --durations=0 tests/e2e/singlecard/pooling/
          #pytest -sv --durations=0 tests/e2e/singlecard/compile/test_norm_quant_fusion.py

          # ------------------------------------ v1 spec decode test ------------------------------------ #
          pytest -sv --durations=0 tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
          pytest -sv --durations=0 tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py

  
